body {
  font-size: 1.5rem;
}

label {
  font-size: 1.2rem;
}

.questions-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 500px;
  height: auto;
}

.results-window {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.answer,
button {
  margin: 4px;
  font-size: 1.2rem;
}
